@use 'config/reset.scss';
@import 'secondPage.scss';

body {
    background-color: #262626;
    color: white;

    header {
        div {
            h1 {
                text-align: center;
            }
        }
    }

    li {
        list-style-type: none;
        margin-bottom: 8px;

        a {
            color: #99DAFF;
            font-weight: bold;
            text-decoration: none;
            font-size: 20px;
        }
    }

    main {
        margin-bottom: 60px;
    }

    .line {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: larger;
        font-weight: bolder;
    }
}